#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  width: 84px;
}

a {
  cursor: pointer;
}

select {
  height: 34px;
  padding: 0 6px;
}

p {
  margin: 6px 0;
  padding: 0;
}

.tournament-form {
  display: flex;
  align-items: stretch;
  margin: 12px 0;
}

ol {
  margin: 0;
}

button {
  margin-left: 6px;
}

.limit-participants {
  margin-top: 12px;
}

.show {
  font-size: 0.8em; 
  margin-right: 4px;
}

